<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497946122788-rtdndfoat3aub511nlo61oerv57lgo00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497946122788-rtdndfoat3aub511nlo61oerv57lgo00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497946122788-levdd18vjc781h85clj41307dtkfeova.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cj1kg4Hs8wiR3N4wf-nGrtaGjNydDDA</string>
	<key>GCM_SENDER_ID</key>
	<string>497946122788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.schoolofperformingarts.app</string>
	<key>PROJECT_ID</key>
	<string>school-of-performing-arts</string>
	<key>STORAGE_BUCKET</key>
	<string>school-of-performing-arts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497946122788:ios:a8cb4b5f6e62d494b9d6b1</string>
</dict>
</plist>